@import "reset.css";
:root {
    --white-color: #FFF;
    --green-main-color: #3CB878;
    --green-hover-color: #01813F;
}
.wrapper {
    background-image: url("../image/fon.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
[class*="-main-text"] {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    align-items: center;
}
.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding-left: 79px;
    padding-right: 79px;
}
.logo {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.logo:hover, .log-sign-main-text a:hover, .header-icon:hover {
    color: var(--green-main-color);
    fill: var(--green-main-color);
}
.log-sign-main-text, a{
    font-size: 14px;
    display: flex;
    line-height: 14px;
    color: var(--white-color);
}
.log-sign-main-text {
    padding-left: 29px;
    position: relative;
}
.icons-part {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header-icon {
    width: 23px;
    height: 23px;
    fill: var(--white-color);

}
.block-form-position {
    margin-top: 54px;
    padding-bottom: 74px;
    display: flex;
    justify-content: center;
}
.log-sign-main-text::before {
    content: "";
    display: block;
    position: absolute;
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    left: 1px;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.header-icon:hover ~ .log-sign-main-text::before {
    opacity: 0.1;
}

.block-form {
    width: 444px;
    height: 584px;
    padding-top: 31px;
    padding-left: 61px;
    padding-right: 61px;
    background: var(--white-color);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.heading-main-text {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #434343;
    position: relative;
}
.heading-main-text::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -61px;
    top: 0px;
    background: var(--green-main-color);
}
.heading-main-text a {
    font-size: 14px;
    line-height: 14px;
    color: var(--green-main-color);
}
.heading-main-text a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    left: 284px;
    width: 0;
    height: 1px;
    background-color: var(--green-hover-color);
    transition: width 0.3s ease-out;
}
.heading-main-text a:hover::after {
    width: 39px;
    color: var(--green-hover-color);
}
[class*="-btn"] {
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    color: var(--white-color);
}
.btn-main-text {
    display: flex;
    gap: 4px;
    padding-top: 15px;
    position: relative;

}
.button-icon {
    width: 30px;
    height: 19px;
    fill: var(--white-color);
    margin-left: 15px;
    margin-right: 30px;
    position: relative;
}
.facebook-btn-main-text {
    background: #305DB8;
    position: relative;
    cursor: pointer;
}
.facebook-btn-main-text:hover {
    background: #022263;
}
.google-btn-main-text:hover {
    background: #AB1F09;
}
.facebook-btn-main-text::after, .google-btn-main-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 152px;
    left: 0px;
    top: 88px;
    border-bottom: 1px solid #F2F2F2;
}
.google-btn-main-text {
    background: #DF4A32;
    cursor: pointer;
    position: relative;
}
.btn-main-text::after {
    content: "or";
    display: block;
    position: absolute;
    left: 156px;
    top: 96px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;

}
.sign-up-main-text {
    margin-top: 56.96px;
    position: relative;
}
#name, #surname, #email, #password, #repeat-password {
    outline: none;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    margin-bottom: 15.96px;
}
input::placeholder {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #BEBEBE;
}

#name:focus, #surname:focus, #email:focus, #password:focus, #repeat-password:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;

}
.sign-up-main-text label {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.text-after-check {
    gap: 8px;
}
.sign-up-main-text label a {
    display: inline;
    color: var(--green-main-color);
}
.sign-up-main-text a::after {
    content: "";
    display: block;
    position: absolute;
    left: 132px;
    width: 0;
    height: 1px;
    background-color: var(--green-hover-color);
    transition: width 0.3s ease-out;
}
.sign-up-main-text a:hover::after {
    width: 120px;
    color: var(--green-hover-color);
}
.create-button-main-text {
    width: 324px;
    height: 46px;
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    color: var(--white-color);
}
.checkbox-agree {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-agree + label {
    display: inline-flex;
    align-items: center;
}
.checkbox-agree + label::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.checkbox-agree:checked + label::before {
    background-image: url("../image/check.svg");
    background-repeat: no-repeat;
}

.create-button-main-text:hover {
    background: var(--green-hover-color);
}